@use '../mixins/mixins' as *;
@use '../mixins/config' as *;
@use '../common/var' as *;

@include b(code-highlight) {
  // Border Radius
  --#{$namespace}-header-bg-color: rgba(0, 0, 0, 0.06);
  --#{$namespace}-content-bg-color: rgb(250, 250, 250);
  --#{$namespace}-color-border-secondary: #f0f0f0;
  --#{$namespace}-copy-bg-color: rgba(0, 0, 0, 0.1);

  position: relative;
  border-radius: 6px;
  border: 1px solid var(--el-border-color-light);
  overflow: hidden;

  @include e(header) {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 14px;
    background-color: var(--#{$namespace}-header-bg-color);
    font-size: 14px;

    @include e(language) {
      font-weight: bold;
    }
  }

  @include e(action) {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 14px;
    cursor: pointer;

    @include e(icon) {
      width: 24px;
      height: 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      &:hover {
        background-color: var(--#{$namespace}-copy-bg-color);
      }
      .element-ai-vue-iconfont {
        font-size: 14px;
      }
    }
  }

  @include e(content) {
    background-color: var(--#{$namespace}-content-bg-color);
    border: 1px solid var(--#{$namespace}-color-border-secondary);
    pre {
      background-color: transparent !important;
      margin: 0;
      padding: 14px;
    }
  }
}
